Q.1 :-
ANS :- VARIABLE

In [1]:
s1 = "frist work "

In [2]:
type(s1)

str

In [4]:
# a list ex.

In [3]:
s2 = [34,54.54,"frist list",True,False,~4]

In [ ]:
# a tuple and they have im

In [3]:
s3 =('frist tuple',23,65.54,[87,766.87])

In [4]:
type(s3)

tuple

In [41]:
one_varible_for_all = ["student",('frist tuple',23,65.54,[87,766.87]),34.56]

In [47]:
type(one_varible_for_all[1])

tuple

Q 2
ANS :-

In [ ]:
var1 = ' '

In [ ]:
# this is a string

In [3]:
var2 = '[ds, ml,python]'
type(var2)

str

In [4]:
# var2 is also a string

str

In [2]:
var3 = ['ds','ml','python']
type(var3)

list

In [ ]:
# var3 is a list

In [4]:
var4 = 1.
type(var4)

float

In [10]:
# var4 is a float value

float

Q3 ANS :-

In [28]:
# 1 
x = 10
y = 2
z = x/y
print(z,"this is for divide")

5.0 this is for divide

In [31]:
# 2
x = 15
y = 2
z = x%y
print(z,"this is modulo operator and it use for getting remainder")

1 this is modulo operator and it use for getting remainder

In [33]:
#3
x = -15
y = 2
z = x//y
print(z,"this is floor division oprator")

-8 this is floor division oprator

In [39]:
#4
x = 2
y = 5
z = x**y
print(z,"this is exponent operator")

32 this is exponent operator

32

Q 4 
ANS :-

In [48]:
myLIst = [1,2,3.4,True,False,'work done',99.767,'pw skills',333,33.88]
for i in myLIst :
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3.4 <class 'float'>
True <class 'bool'>
False <class 'bool'>
work done <class 'str'>
99.767 <class 'float'>
pw skills <class 'str'>
333 <class 'int'>
33.88 <class 'float'>

Q 5 
ANS :-

In [7]:
x = int(input("enter your dividend : "))
y = int(input("enter your divisor : "))

while (x % y == 0) :
    if (x % y == 0): 
        z = x/y
        print(z,"-times")
        x +=1
else :
    print("number A is not purely divisible by B ")

enter your dividend :  12
enter your divisor :  5

number A is not purely divisible by B

In [ ]:
2/12

Q 6 
ANS:-

In [8]:
mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in mylist :
    if i % 3 == 0 :
        print(i,"no. is divisible by 3")
    else :
        print(i,"the no.is not divisible by 3")

1 the no.is not divisible by 3
2 the no.is not divisible by 3
3 no. is divisible by 3
4 the no.is not divisible by 3
5 the no.is not divisible by 3
6 no. is divisible by 3
7 the no.is not divisible by 3
8 the no.is not divisible by 3
9 no. is divisible by 3
10 the no.is not divisible by 3
11 the no.is not divisible by 3
12 no. is divisible by 3
13 the no.is not divisible by 3
14 the no.is not divisible by 3
15 no. is divisible by 3
16 the no.is not divisible by 3
17 the no.is not divisible by 3
18 no. is divisible by 3
19 the no.is not divisible by 3
20 the no.is not divisible by 3
21 no. is divisible by 3
22 the no.is not divisible by 3
23 the no.is not divisible by 3
24 no. is divisible by 3
25 the no.is not divisible by 3

second way

In [20]:
mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1 = []
l2 = []
for i in mylist :
    if i % 3 == 0 :
        l1.append(i)
    elif i % 3 != 0 :
        l2.append(i)

In [21]:
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [22]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

Q7.  mutable and imutable objects
ans:- 
mutable :-that kind of object  can be modify, update,append,add,del ...etc
        like :- list ,dict,sets..etc

In [ ]:
mutableobject = [1,2,3,4,"pw skills"]

imutabe:- we can't change ,del,add,modify,append ...the object after running
         like:- int,float,tuple,unicode,str..etc

In [ ]:
imutable_object =('frist tuple',23,65.54,[87,766.87])